.milestone-row {
  @include str-truncated(90%);
}

.dashboard .side .panel .panel-heading .input-group {

  .form-control {
    height: 42px;
  }
}

.group-root-path {
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}

.content-list .group-name {
  font-weight: 600;
  color: $pages-group-name-color;
}

.group-row {
  @include basic-list-stats;
}

.ldap-group-links {
  .form-actions {
    margin-bottom: $gl-padding;
  }
}


.ldap-group-links {
  .form-actions {
    margin-bottom: $gl-padding;
  }
}

.groups-header {
  @media (min-width: $screen-sm-min) {
    .nav-links {
      width: 35%;
    }

    .nav-controls {
      width: 65%;
    }
  }
}

.groups-empty-state {
  padding: 50px 100px;
  overflow: hidden;

  @media (max-width: $screen-sm-max) {
    padding: 50px 0;
  }

  svg {
    float: right;

    @media (max-width: $screen-sm-max) {
      float: none;
      display: block;
      width: 250px;
      position: relative;
      left: 50%;
      margin-left: -125px;
    }
  }

  .text-content {
    float: left;
    width: 460px;
    margin-top: 120px;

    @media (max-width: $screen-sm-max) {
      float: none;
      margin-top: 60px;
      width: auto;
      text-align: center;
    }
  }
}

.panel {
  .shared_runners_limit_under_quota {
    color: $gl-success;
  }

  .shared_runners_limit_over_quota {
    color: $gl-danger;
  }
}

.pipeline-quota {
  border-top: 1px solid $table-border-color;
  border-bottom: 1px solid $table-border-color;
  margin: 0 0 $gl-padding;

  .row {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .right {
    text-align: right;
  }

  .progress {
    height: 6px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 4px;
  }
}

.user-settings-pipeline-quota {
  margin-top: $gl-padding;

  .pipeline-quota {
    border-top: none;
  }
}

table.pipeline-project-metrics tr td {
  padding: $gl-padding;
}

.mattermost-icon svg {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.mattermost-team-name {
  color: $gl-text-color-secondary;
}

.mattermost-info {
  display: block;
  color: $gl-text-color-secondary;
  margin-top: 10px;
}

.explore-groups.landing {
  .inner-content {
    padding: 0;

    p {
      margin: 7px 0 0;
      max-width: 480px;
      padding: 0 $gl-padding;

      @media (max-width: $screen-sm-min) {
        margin: 0 auto;
      }
    }
  }

  svg {
    width: 62px;
    height: 50px;
  }
}

.plan-badge {
  margin-right: 15px;

  svg {
    position: relative;
    top: 3px;
    height: 16px;
    width: 16px;
  }

  &.inline {
    display: inline-block;
    margin: 0 4px;
  }

  &[data-plan="gold"] {
    color: darken($gl-gold-plan, 20%);
    svg g { fill: $gl-gold-plan; }
  }

  &[data-plan="silver"] {
    color: darken($gl-silver-plan, 20%);
    svg g { fill: $gl-silver-plan; }
  }

  &[data-plan="bronze"] {
    color: darken($gl-bronze-plan, 20%);
    svg g { fill: $gl-bronze-plan; }
  }

  &:not([data-plan]) {
    svg g { fill: $gl-no-plan; }
  }
}
